SeeTecConnector/Connected Services/ServiceReference1/ReceiverServiceResponse.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReceiverServiceResponse" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IReceiverServiceResponse_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://videoguard.ae/VGAlarmReceiver/Receiver.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://videoguard.ae/VGAlarmReceiver/Receiver.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReceiverServiceResponse_SendAlarm_InputMessage">
    <wsdl:part name="parameters" element="tns:SendAlarm" />
  </wsdl:message>
  <wsdl:message name="IReceiverServiceResponse_SendAlarm_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendAlarmResponse" />
  </wsdl:message>
  <wsdl:message name="IReceiverServiceResponse_SendHeartBeat_InputMessage">
    <wsdl:part name="parameters" element="tns:SendHeartBeat" />
  </wsdl:message>
  <wsdl:message name="IReceiverServiceResponse_SendHeartBeat_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendHeartBeatResponse" />
  </wsdl:message>
  <wsdl:message name="IReceiverServiceResponse_GetNTPServerInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNTPServerInfo" />
  </wsdl:message>
  <wsdl:message name="IReceiverServiceResponse_GetNTPServerInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNTPServerInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IReceiverServiceResponse_SendRecorderInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:SendRecorderInfo" />
  </wsdl:message>
  <wsdl:message name="IReceiverServiceResponse_SendRecorderInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendRecorderInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IReceiverServiceResponse">
    <wsdl:operation name="SendAlarm">
      <wsdl:input wsaw:Action="http://tempuri.org/IReceiverServiceResponse/SendAlarm" message="tns:IReceiverServiceResponse_SendAlarm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReceiverServiceResponse/SendAlarmResponse" message="tns:IReceiverServiceResponse_SendAlarm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendHeartBeat">
      <wsdl:input wsaw:Action="http://tempuri.org/IReceiverServiceResponse/SendHeartBeat" message="tns:IReceiverServiceResponse_SendHeartBeat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReceiverServiceResponse/SendHeartBeatResponse" message="tns:IReceiverServiceResponse_SendHeartBeat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNTPServerInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IReceiverServiceResponse/GetNTPServerInfo" message="tns:IReceiverServiceResponse_GetNTPServerInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReceiverServiceResponse/GetNTPServerInfoResponse" message="tns:IReceiverServiceResponse_GetNTPServerInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendRecorderInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IReceiverServiceResponse/SendRecorderInfo" message="tns:IReceiverServiceResponse_SendRecorderInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReceiverServiceResponse/SendRecorderInfoResponse" message="tns:IReceiverServiceResponse_SendRecorderInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IReceiverServiceResponse" type="tns:IReceiverServiceResponse">
    <wsp:PolicyReference URI="#WSHttpBinding_IReceiverServiceResponse_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendAlarm">
      <soap12:operation soapAction="http://tempuri.org/IReceiverServiceResponse/SendAlarm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendHeartBeat">
      <soap12:operation soapAction="http://tempuri.org/IReceiverServiceResponse/SendHeartBeat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNTPServerInfo">
      <soap12:operation soapAction="http://tempuri.org/IReceiverServiceResponse/GetNTPServerInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendRecorderInfo">
      <soap12:operation soapAction="http://tempuri.org/IReceiverServiceResponse/SendRecorderInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReceiverServiceResponse">
    <wsdl:port name="WSHttpBinding_IReceiverServiceResponse" binding="tns:WSHttpBinding_IReceiverServiceResponse">
      <soap12:address location="http://videoguard.ae/VGAlarmReceiver/Receiver.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://videoguard.ae/VGAlarmReceiver/Receiver.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>